@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
  padding: 20px 20px 60px;
  max-width: 680px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
li {
  list-style-type: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.headerStyle{
  width: 100%;
  height: 6vh;
  margin: auto;
  
}
.h1-default{
  
  font-family: var(--fonte-pangolin);
  font-size: 2.96em;
  height: auto;
  overflow: hidden;
  margin-top:1em;
  
}
.siteContentStyle {
  margin:1em 1em 15em auto ;
}
.footerStyle{
  width:100%;
  height: 100px;
  background-color: var(--fundo-detalhes);
}
.footerStyle h1{
  font-family: var(--fonte-pangolin);
  font-size: 1.5em;
  text-align: center;
  height: auto;
  overflow: hidden;
  padding: 1em;
}
:root {
  --primaria: #58a4b0;
  --secundaria: #f3b814;
  --secundaria-ativa: #cccccc;
  --fundo: #ffffff;
  --fundo-detalhes: rgba(255, 230, 0, 0.377);
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-pangolin: 'Pangolin', cursive;
}