

.noteList{
  flex-grow: 2;
  padding: 1 0 0 0;
  z-index: 1;
  max-width: fit-content;
  min-height: 15vh;
  display: flex;
  flex-direction: column-reverse;
}
.noteListItem {
  text-align: justify;
  
  
}
