

.noteList{
  flex-grow: 2;
  padding: 1 0 0 0;
  z-index: 1;
  max-width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: column-reverse;
}
.noteListItem {
  max-width: 100%;
  text-align: justify;
  overflow-wrap:break-word;
  
}
