.registeForm{
  flex-grow: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 1em 1em;
  font-family: var(--fonte-pangolin);
  
}

.registerFormInputTitle {
  margin: 1em 0 1em 0;
  padding: 1.3em;
  border: none;
  background-color: var(--fundo-detalhes);
  font-family: var(--fonte-pangolin);
  font-weight: 100;
}
.registeFormTextarea{
  height: 25vh;
  border: none;
  padding: 1.3em;
  background-color: var(--fundo-detalhes);
  font-family: var(--fonte-pangolin);
  font-weight: 100;
}
.registerFormSubmit {
  margin:1em auto;
  align-self: flex-end;
  width: 50%;
  height: 5em;
  background-color: var(--secundaria);
  font-family: var(--fonte-pangolin);
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: none;
}

.categorySelect {
  margin: auto;
  width: 80%;
  padding: 1em;
}
.categorySelect select{
  width: auto;
  height: 6vh;
  border: none;
  border-radius: 1px;
  margin: 0.5em;
}

.registerFormSubmit:active {
  background-color: var(--secundaria-ativa);
}
