.formStyle {
  width: 540px;
  height: 300px;
  margin: auto;
}
.titleBoxStyle {
  text-align: center;
  margin: auto;
}
.inputBoxStyle {
  width: 200px;
  height: auto;
  overflow: hidden;
  margin: auto;
  background-color: brown;
}
.inputTitleStyle {
  width: 200px;
}

.textAreaBoxStyle {
  padding-top: 2em;
}

.textAreaStyle {
  width: 540px;
  height: 100px;
}
.createNoteBtnStyle {
  width: 100px;
  height: 50px;
  display: block;
  margin: auto;
  border: 1px black solid;
}
