

.noteList{
  flex-grow: 2;
  
  z-index: 1;
  min-height: 15vh;
  display: flex;
  flex-direction: column-reverse;
  margin:0.5em;
  padding: 0.5em;
  
}
.noteListItem {
  margin: 12px;
  max-width: 100%;
  display: inline;
  
}
