.noteCardStyle {
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  font-family: var(--fonte-pangolin);
  border-radius: 0.5px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  margin:1em auto;
  padding: 1.2em;
}


.noteCardHeaderStyle {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.noteCardTextBoxStyle {
  max-width: 100%;
  min-height: 2vh;
  display: flex;
  
}

.noteCardTextStyle {
  max-width: 100%;
  margin-top: 8px;
  font-size: 1.2em;
}

.noteCardTitleStyle {
  font-size: 1.5em;
  margin-right: 12px;
}
