.registeForm{
  flex-grow: 2;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  z-index: 1;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  margin:0.5em;
  padding: 1em 1em;
  
}

.registerFormInputTitle {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  border: none;
  background-color: var(--fundo-detalhes);
  font-family: var(--fonte-padrao);
  font-weight: 100;
  background-color: rgba(255, 230, 0, 0.377);
}
.registeFormTextarea{
  width: 80%;
  height: 25vh;
  margin: auto;
  padding: 1em;
  border: none;
  background-color: var(--fundo-detalhes);
  font-family: var(--fonte-padrao);
  font-weight: 100;
  background-color: rgba(255, 230, 0, 0.377);
}
.registerFormSubmit {
  margin:1em auto;
  align-self: flex-end;
  width: 50%;
  height: 5em;
  background-color: var(--secundaria);
  color: rgb(0, 0, 0);
  font-weight: 400;
  border: none;
}

.categorySelect {
  margin: auto;
  font-family: var(--fonte-padrao);
  width: 80%;
  padding: 1em;
  
  
  
}
.categorySelect select{
  width: auto;
  height: 6vh;
  border: none;
  border-radius: 1px;
  margin: 0.5em;
}
.registerFormSubmit:active {
  background-color: var(--secundaria-ativa);
}
